// Footer
.footer {

    &__container {
        padding: 20px 0;
        @include caption;
        display: flex;
        flex-wrap: wrap;

        justify-content: space-between;
        align-items: center;

        border-top: 1px solid $border;
        margin-top: 20px;

        p {
            @include caption;
            margin: 0;
        }

        a {
            color: $text-dimmed;
        }

        color: $text-muted;
    }

    &__right {
        min-width: 220px;
        display: flex;
        justify-content: space-between;
    }
}