.sidebar {
    border: 2px solid $border;
    border-radius: 20px;
    padding: 10px 20px;
    width: fit-content;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: -100%;

    // deadly simple animation
    transition: right 0.3 ease-in;

    // remove dots in li elements
    ul {
        list-style-type: none;
    }

    &--active {
        @extend .sidebar;
        right: 0;
    }

    button {
        background-color: transparent;
        border: none;

        svg {
            fill: white;
            width: 40px;
            rotate: 180deg;
        }
    }

    display: flex;
    align-items: center;

    &__switch {
        border: 2px solid $border;
        border-radius: 20px;
        height: min-content;
    }

    &__navigation {
        border: 2px solid $border;
        border-radius: 20px;
        padding: 10px 20px;
        width: fit-content;
    }
}