.sidebar {
    z-index: 9999;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: -210px;

    // remove dots in li elements
    ul {
        list-style-type: none;
    }

    button {
        padding: 0;
        margin: 0;
        cursor: pointer;
        background-color: transparent;
        width: 25px;
        height: 100px;

        border: 2px solid $border;
        border-radius: 20px 0 0 20px;
        border-right: none;

        transition: border-color 0.3s ease;

        &:hover {
            border-color: $secondary;
            box-shadow: 0 0 10px 1px $secondary;

            svg {
                fill: $secondary;
            }
        }

        svg {
            fill: $text;
            width: 25px;
        }
    }

    display: flex;
    align-items: center;

    &__switch {
        button {
            background-color: $bg;
        }

        height: min-content;
    }

    &__navigation {
        background-color: $bg;
        border: 2px solid $border;
        border-radius: 20px;
        padding: 10px 20px;
        width: fit-content;
    }
}