.btn {

    background-color: $bg;
    border: thin solid $border;
    border-radius: 20px;
    color: $text;

    height: auto;
    line-height: 1;

    padding: 12px 25px;
    margin: 0 15px;

    &:hover,
    &:focus {
        cursor: pointer;
        color: $secondary;
        background-color: $bg-light;
        border: thin solid $secondary;
        box-shadow: 0 0 10px 0px $secondary;
    }

    &:active {
        background-color: $secondary;
        color: $bg-light;
        border: thin solid $bg-light;
    }

    &-primary {
        all: reset;
        @extend .btn;

        border: 2px solid $primary;
        color: $primary;

        &:hover {
            border: 2px solid $primary;
        }
    }

    &-secondary {
        all: reset;
        @extend .btn;

        border: 2px solid $secondary;
        color: $secondary;

        &:hover {
            border: 2px solid $secondary;
        }
    }
}