.btn {
    all: reset;

    background-color: $bg;
    border: 2px solid $border;
    border-radius: 20px;
    color: $text;

    height: auto;
    line-height: 1;

    padding: 12px 25px;
    margin: 0 15px;

    &:hover {
        @extend .btn;
        background-color: $bg-light;
        border: 2px solid $border;
        cursor: pointer;
    }

    &:focus {
        @extend .btn;

        background: $bg-light;
        border-color: $primary;
    }

    &:active {
        @extend .btn;
        background: $text;
        color: $bg;
        border-color: $border;
    }

    &-primary {
        all: reset;
        @extend .btn;

        border: 2px solid $primary;
        color: $primary;

        &:hover {
            border: 2px solid $primary;
        }
    }

    &-secondary {
        all: reset;
        @extend .btn;

        border: 2px solid $secondary;
        color: $secondary;

        &:hover {
            border: 2px solid $secondary;
        }
    }
}