a {
    color: $link;

    &:hover,
    &:focus,
    &:active,
    &:visited {
        text-decoration: none;
        color: $secondary;
    }

    &:visited {
        color: $link;

        &:hover {
            color: $secondary;
        }
    }
}