@use '../variables/colors' as color;

// Code: inline and blocks
code {
    background: color.$bg-light;
    color: color.$code;
}

.code {
    code {
        background: color.$bg-light;
        color: color.$code;
    }
}