// Reset, typography, global rules
@use 'variables/typography' as tpg;
@use 'variables/colors' as color;

// Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Typography
.display-lg {
    @include tpg.display-lg
}

.display-md {
    @include tpg.display-md
}

h1 {
    @include tpg.h1;
}

h2 {
    @include tpg.h2;
}

h3 {
    @include tpg.h3;
}

h4 {
    @include tpg.h4;
}

h5 {
    @include tpg.h5;
}

h6 {
    @include tpg.h6;
}

.body-xl {
    @include tpg.body-xl
}

.body {
    @include tpg.body
}

.body-sm {
    @include tpg.body-sm
}

.caption {
    @include tpg.caption
}

.caption-sm {
    @include tpg.caption-sm
}

.overline {
    @include tpg.overline
}

p {
    @include tpg.body;
}

// Global rules
html {
    scroll-behavior: smooth;
}

body {
    font-family: tpg.$font-general;

    background-color: color.$bg;
    color: color.$text;
}