// Typography
@use 'variables' as vars;

// Font families
// General font - Nunito Sans; monospaced - Source Code Pro
@font-face {
    font-family: "Nunito Sans";
    src:
        local("Nunito Sans"),
        url("/src/vendor/fonts/nunito_sans/nunito_sans.ttf") format("truetype");
}

@font-face {
    font-family: "Source Code Pro";
    src:
        local("Source Code Pro"),
        url("/src/vendor/fonts/source_code_pro/source_code_pro.ttf") format("truetype");
}

.display-lg {
    @include vars.display-lg
}

.display-md {
    @include vars.display-md
}

h1 {
    @include vars.h1;
}

h2 {
    @include vars.h2;
}

h3 {
    @include vars.h3;
}

h4 {
    @include vars.h4;
}

h5 {
    @include vars.h5;
}

h6 {
    @include vars.h6;
}

.body-xl {
    @include vars.body-xl
}

.body {
    @include vars.body
}

.body-sm {
    @include vars.body-sm
}

.caption {
    @include vars.caption
}

.caption-sm {
    @include vars.caption-sm
}

.overline {
    @include vars.overline
}

p {
    @include vars.body;
}