// Theme
$bg-dark: oklch(0.1 0.025 228);
$bg: oklch(0.15 0.025 228);
$bg-light: oklch(0.2 0.025 228);
$text: oklch(0.96 0.05 228);
$text-muted: oklch(0.76 0.05 228);
$highlight: oklch(0.5 0.05 228);
$border: oklch(0.4 0.05 228);
$border-muted: oklch(0.3 0.05 228);
$primary: oklch(0.76 0.1 228);
$secondary: oklch(0.76 0.1 48);
$danger: oklch(0.7 0.05 30);
$warning: oklch(0.7 0.05 100);
$success: oklch(0.7 0.05 160);
$info: oklch(0.7 0.05 260);

// Colors, based on main colors
$code: color-mix(in oklch, $text 70%, black 30%);
$text-dimmed: color-mix(in oklch, $primary 70%, black 30%);