* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.03em;
  background-color: oklch(15% 0.025 228deg);
  color: oklch(96% 0.05 228deg);
  margin: 0 50px;
}

.display-lg {
  font-size: 2.44rem;
  font-weight: 800;
  line-height: 1.55;
  letter-spacing: 0.015em;
}

.display-md {
  font-size: 2.18rem;
  font-weight: 800;
  line-height: 1.55;
  letter-spacing: 0.015em;
}

h1 {
  font-size: 1.95rem;
  font-weight: 700;
  line-height: 1.55;
  letter-spacing: 0.02em;
}

h2 {
  font-size: 1.56rem;
  font-weight: 600;
  line-height: 1.55;
  letter-spacing: 0.02em;
}

h3 {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.6;
  letter-spacing: 0.025em;
}

h4 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.025em;
}

h5 {
  font-size: 1.18rem;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;
}

h6 {
  font-size: 1.12rem;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;
}

.body-xl {
  font-size: 1.06rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.03em;
}

.body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.03em;
}

.body-sm {
  font-size: 0.89rem;
  font-weight: 400;
  line-height: 1.65;
  letter-spacing: 0.03em;
}

.caption {
  font-size: 0.72rem;
  font-weight: 400;
  line-height: 1.65;
  letter-spacing: 0.03em;
}

.caption-sm {
  font-size: 0.64rem;
  font-weight: 300;
  line-height: 1.65;
  letter-spacing: 0.03em;
}

.overline {
  font-size: 0.57rem;
  font-weight: 500;
  line-height: 1.65;
  letter-spacing: 0.03em;
}

.loading:after {
  border: 0.1rem solid oklch(96% 0.05 228deg);
  border-top-color: transparent;
  border-right-color: transparent;
}

.btn, .btn-secondary, .btn-primary.btn-secondary, .btn-primary, .btn.btn-primary, .btn-primary {
  background-color: oklch(15% 0.025 228deg);
  border: 2px solid oklch(40% 0.05 228deg);
  border-radius: 20px;
  color: oklch(96% 0.05 228deg);
  height: auto;
  line-height: 1;
  padding: 12px 25px;
  margin: 0 15px;
}
.btn:hover, .btn-secondary:hover, .btn-primary:hover {
  background-color: oklch(20% 0.025 228deg);
  border: 2px solid oklch(40% 0.05 228deg);
  cursor: pointer;
}
.btn:focus, .btn-secondary:focus, .btn-primary:focus {
  background: oklch(20% 0.025 228deg);
  border-color: oklch(76% 0.1 228deg);
}

.btn-primary, .btn.btn-primary, .btn-primary.btn-secondary, .btn-primary {
  border: 2px solid oklch(76% 0.1 228deg);
  color: oklch(76% 0.1 228deg);
}
.btn-primary:hover {
  border: 2px solid oklch(76% 0.1 228deg);
}

.btn-secondary {
  border: 2px solid oklch(76% 0.1 48deg);
  color: oklch(76% 0.1 48deg);
}
.btn-secondary:hover {
  border: 2px solid oklch(76% 0.1 48deg);
}

.navbar a {
  color: oklch(96% 0.05 228deg);
}
.navbar a:hover {
  color: oklch(76% 0.1 228deg);
}

.header {
  display: flex;
  margin: 20px 0;
}
.header .btn:first-child, .header .btn-primary:first-child, .header .btn-secondary:first-child {
  margin-left: 0;
}

.burger__menu {
  border: solid oklch(40% 0.05 228deg);
  border-radius: 30px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  z-index: 9999;
  background-color: oklch(15% 0.025 228deg);
  padding: 15px 25px;
}
.burger__menu p {
  margin: 0;
}

.hero-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-body__left {
  max-width: 50%;
}
.hero-body__left .btn, .hero-body__left .btn-primary, .hero-body__left .btn-secondary {
  margin-left: 0;
  font-size: 1.25rem;
}
.hero-body__right {
  width: 35%;
}
.hero__icon {
  font-size: 10rem;
}

.icon__border {
  border: solid oklch(96% 0.05 228deg) thin;
  border-radius: 20px;
  padding: 10px;
  color: oklch(96% 0.05 228deg);
}

.tiles {
  margin: 20px 0;
}
.tiles .tile {
  border: solid oklch(70% 0.05 260deg) thin;
  border-radius: 25px;
  padding: 10px;
  margin-bottom: 15px;
}
.tiles .tile:last-child {
  margin-bottom: 0;
}

/*# sourceMappingURL=style.css.map */
