html {
    scroll-behavior: smooth;
    font-size: 100%;
}

body {
    font-family: $font-general;

    background-color: $bg;
    color: $text;
    margin: 0 $space;
}

.display-lg {
    @include display-lg;
}

.display-md {
    @include display-md;
}

h1 {
    @include h1;
}

h2 {
    @include h2;
}

h3 {
    @include h3;
}

h4 {
    @include h4;
}

h5 {
    @include h5;
}

h6 {
    @include h6;
}

.body-xl {
    @include body-xl;
}

.body {
    @include body;
}

.body-sm {
    @include body-sm;
}

.caption {
    @include caption;
}

.caption-sm {
    @include caption-sm;
}

.overline {
    @include overline;
}

p {
    @include body;
    color: $text-muted;
}

pre,
code,
kbd,
samp {
    font-family: $font-monospaced;
}

q,
blockquote {
    font-size: $body-size;
}

ul,
ol {
    font-size: $body-size;

    p {
        font-size: inherit;
    }
}

ol {
    list-style: decimal;
}

ul {
    list-style: disc;
}

pre {
    align-items: start;
}