<header>
    <!-- For desktops -->
    <div class="container header">

        <!-- Burger for phones -->
        <!-- <div class="show-md"> -->
        <!--     <button type="button" class="btn" id="burger__button"> -->
        <!--         <i class="icon icon-menu"></i> -->
        <!--         <i class="icon icon-cross d-none"></i> -->
        <!--     </button> -->
        <!-- </div> -->

        <!-- Navigation for tablets and pc -->
        <div class="hide-md">
            <nav class="navbar">
                <a target="_self" href="/" class="btn">Главная</a>
                <a target="_self" href="/src/pages/about-project.html" class="btn">О проекте</a>
                <a target="_self" href="/src/pages/articles.html" class="btn">Статьи</a>
                <a target="_self" href="/src/pages/useful-resources.html" class="btn">Полезные ресурсы</a>
            </nav>
        </div>
    </div>

    <!-- Burger menu -->
    <!-- <div class="burger__menu d-none"> -->
    <!--     <a href="/"> -->
    <!--         Главная -->
    <!--     </a> -->
    <!--     <a href="/src/pages/about-project.html"> -->
    <!--         О проекте -->
    <!--     </a> -->
    <!--     <a href="/src/pages/articles.html"> -->
    <!--         Статьи -->
    <!--     </a> -->
    <!--     <a href="/src/pages/useful-resources.html"> -->
    <!--         Полезные ресурсы -->
    <!--     </a> -->
    <!-- </div> -->
</header>