<header>
    <!-- For desktops -->
    <div class="container header">

        <!-- Burger for phones -->
        <div class="show-md">
            <button type="button" class="btn" id="burger__button">
                <i class="icon icon-menu"></i>
                <i class="icon icon-cross d-none"></i>
            </button>
        </div>

        <!-- Navigation for tablets and pc -->
        <div class="hide-md">
            <nav class="navbar">
                <a href="/" class="btn">Главная</a>
                <a href="/src/pages/tools.html" class="btn">Инструменты</a>
                <a href="/src/pages/guides.html" class="btn">Гайды</a>
                <a href="/src/pages/about.html" class="btn">О проекте</a>
            </nav>
        </div>
    </div>
    </div>

    <!-- Burger menu -->
    <div class="burger__menu d-none">
        <a href="/">
            <p>Главная</p>
        </a>
        <a href="/src/pages/tools.html">
            <p>Инструменты</p>
        </a>
        <a href="/src/pages/guides.html">
            <p>Гайды</p>
        </a>
        <a href="/src/pages/about.html">
            <p>О проекте</p>
        </a>
    </div>
</header>